@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8b5cf6; /* Purple */
  --secondary-color: #6366f1; /* Light Purple */
}

.dark-mode {
  --primary-color: #4f46e5;
  --secondary-color: #8b5cf6;
}
